<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.inria.atlanmod.emfviews.editor.editors.ViewtypeEditor"
            contributorClass="fr.inria.atlanmod.emfviews.editor.editors.MultiPageEditorContributor"
            extensions="eviewtype"
            icon="icons/virtualLogo.png"
            id="fr.inria.virtualemf.editor.editors.MultiPageEditor"
            name="EMF Views Editor">
      </editor>
   </extension>

</plugin>
