<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.inria.fr/atlanmod/emfviews/mel"
			class = "fr.inria.atlanmod.emfviews.mel.MelPackage"
			genModel = "model/generated/Mel.genmodel" />
	</extension>
</plugin>
