##
## Java
##
*.class
*.jar
.java-version

# Eclipse
.metadata/
.settings/
bin/

# Xtext
src-gen/
xtend-gen/
**/model/generated/
*_gen
*.xtendbin
*._trace

# ATL
*.asm
*.emftvm

##
## IntelliJ IDEA Files
##
*.iml
.idea

##
## Visio Studio Code files
##
.vscode/

##
## Maven Files
##
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar