<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="fr.inria.virtualemf.ui.commands.derivevirtualmfromvirtualmm"
               label="%command.label"
               style="push"
               tooltip="%command.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="fr.inria.virtualemf.ui.commands.derivevirtualmfromvirtualmm"
            icon="icons/virtualLogo.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="fr.inria.virtualemf.ui.categories.derivevirtualmfromvirtualmm"
            id="fr.inria.virtualemf.ui.commands.derivevirtualmfromvirtualmm"
            name="%command.name">
      </command>
      <category
            description="%category.description"
            id="fr.inria.virtualemf.ui.categories.derivevirtualmfromvirtualmm"
            name="%category.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.inria.atlanmod.emfviews.ui.commands.ViewWizardHandler"
            commandId="fr.inria.virtualemf.ui.commands.derivevirtualmfromvirtualmm">
         <activeWhen>
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.eviewtype">
                  </test>
               </adapt>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="virtualEmf"
            class="fr.inria.atlanmod.emfviews.ui.wizard.view.CreateViewWizard"
            icon="icons/VirtualModelWizard.png"
            id="virtualModelFileWizard"
            name="EMF View">
      </wizard>
      <wizard
            category="virtualEmf"
            class="fr.inria.atlanmod.emfviews.ui.wizard.emfviewsproject.EmfViewsProjectCreator"
            icon="icons/VirtualModelWizard.png"
            id="virtualEmfProjectWizard"
            name="EMF Views project">
      </wizard>
      <category
            id="virtualEmf"
            name="EMF Views">
      </category>
      <wizard
            category="virtualEmf"
            class="fr.inria.atlanmod.emfviews.ui.wizard.view.CreateViewtypeWizard"
            icon="icons/VirtualModelWizard.png"
            id="virtualMetamodelFileWizard"
            name="EMF Viewtype">
      </wizard>
   </extension>

</plugin>
