<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading">About us</h2>
      <p>The Eclipse Modeling Framework (EMF) is widely used in the Eclipse community: defining domain models and generating corresponding source code, modeling software architectures, specifying DSL concepts or simply representing software/user data in different contexts… basically a lot of EMF models are around, and quite often interrelated.</p>

      <p>And this is where more complex situations appear. Some users only need to see some parts of one model, others have to get the full model extended with data from another model, or simply access to a combination of information coming from different interconnected models. Up to now, creating such “perspectives” transparently in EMF was not really trivial: so let’s introduce you to EMF Views!</p>

      <p>Based on the unquestionable success/usefulness of database views to solve similar problems in databases, EMF Views aims to bring the same concept to the modeling world. Thanks to the three main constructs (inspired from SQL) offered by the tool, designers can create new model views: SELECTing a subset of elements from a model, PROJECTing only some of the properties of those elements and/or JOINing them with elements from other models. A model view is a special type of model whose instances are directly computed at runtime based on the model view definition and concerned actual model(s).</p>
    </div>
  </div>  
    <!-- FOOTER -->
      <footer>
        
        <p>Code licensed under the <a href="http://www.eclipse.org/legal/epl-v10.html">Eclipse Public License.</a> Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
<a href="http://www.emn.fr/z-info/atlanmod/index.php/Main_Page">AtlanMod</a> </p>
      </footer>
</div><!-- /.container -->