<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading">Installation</h2>
      <p>To install/use EMF-Views, we recommend using:</p>
      <ol>
      <li>The modeling distribution of Eclipse (Kepler), that can be found <a href="http://www.eclipse.org/downloads/">here</a>.</li>
      <li>The Epsilon EMF framework and Epsilon Correspondence Language, that can be found in this <a href="http://www.eclipse.org/epsilon/download/">update site</a>.</li>
      </ol>
      <p>Once your Eclipse is ready, you can proceed with the installation of EMF-Views by:</p>
      <ol>
      <li>Clicking on Help / Install New Software... <a href="http://www.eclipse.org/downloads/">here</a>.</li>
      <li>Adding a new Software Site. Click on Add... and fill in the form as indicated:(the update site is http://jdvillacalle.com/emfviews/update/site.xml).</li>
      <li>You should now see the EMF-Views plugin in the list of components to be installed. Select it and click on Next:</li>
      <li>You can now quickly accept the rest of the steps (license, etc...) and reboot Eclipse</li>
      </ol>
    </div>
  </div>  
    <!-- FOOTER -->
      <footer>
        <p>Code licensed under the <a href="http://www.eclipse.org/legal/epl-v10.html">Eclipse Public License.</a> Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
<a href="http://www.emn.fr/z-info/atlanmod/index.php/Main_Page">AtlanMod</a> </p>
      </footer>
</div><!-- /.container -->