 <!-- Carousel
    ================================================== -->
    <div class="jumbotron">
		<div class="container">
			<img style="float: center; padding-left: 200px; padding-top: 100px" src="assets/img/logo_page.png"/>
		</div>
	</div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <!--<li data-target="#myCarousel" data-slide-to="2" class=""></li>-->
      </ol>
      <div class="carousel-inner">
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide" style="width: 50%;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Learn from our video tutorials.</h1>
              <p>Our videos will teach you the basics to get you started using EMF Views.</p>
              <p><a class="btn btn-lg btn-primary" href="#/examples" role="button">Take me to the tutorials</a></p>
            </div>
          </div>
        </div>
        <div class="item active">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Give good views to your models.</h1>
              <p>Having to deal with several large heterogeneous and interrelated models? Simply create your own views with EMF Views.</p>
              <p><a class="btn btn-lg btn-primary" href="#/install" role="button">Install</a></p>
            </div>
          </div>
        </div>
        <!--<div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="./Carousel Template for Bootstrap_files/Carousel Template for Bootstrap.htm" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>-->
      </div>
      <a class="left carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

        <!-- Marketing messaging and featurettes

    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="assets/img/viewsOnmodels.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Views on models</h2>
          <p>A view behaves as a normal model, so interoperability (compatibility with existing EMF-based solutions/tools) is guaranteed.</p>
          <p><a class="btn btn-default" href="#/about" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="assets/img/tutorials.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Examples</h2>
          <p>EMF Views is a tool that allows creating views, i.e., models that do not hold concrete data, but that transparently access and manipulate data contained in other models.</p>
          <p><a class="btn btn-default" href="#/examples" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="assets/img/publication2.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Documentation</h2>
          <p>The current version of the EMF Views is currently being developed in the context of the TEAP industrial project, by showing different possible applications of model views in an enterprise architecture context.</p>
          <p><a class="btn btn-default" href="#/documentation" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Build your own model views.<!--<span class="text-muted">It'll blow your mind.--></span></h2>
          <p class="lead">Some users only need to see some parts of a model,  others have to get the full model extended with data from another model, and others simply access to a combination of information coming from different models. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="assets/img/viewsOnmodels.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="assets/img/publication2.jpg">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Think of database views. <!--<span class="text-muted">See for yourself.</span>--></h2>
          <p class="lead">Based on the unquestionable success/usefulness of database views to solve similar problems in databases, EMF Views aims to bring the same concept to the modeling world.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Slides presented at the Modeling Symposium at EclipseCon 2014!</h2>
        </div>
        <div class="col-md-5"><a href="http://fr.slideshare.net/HugoBruneliere/emf-views-eclipsecon-2014-modeling-symposium">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="assets/img/slides.PNG"></a>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>

        <p>Code licensed under the <a href="http://www.eclipse.org/legal/epl-v10.html">Eclipse Public License.</a> Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
<a href="http://www.emn.fr/z-info/atlanmod/index.php/Main_Page">AtlanMod</a> </p>
      </footer>

    </div><!-- /.container -->