<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.dsl.emfviews/Sqlview"
			class = "emfviews.dsl.sqlview.SqlviewPackage"
			genModel = "model/generated/Vpdl.genmodel" />
	</extension>
</plugin>
