<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://inria.fr/virtualLinks"
            class="fr.inria.atlanmod.emfviews.virtualLinks.VirtualLinksPackage"
            genModel="resource/VirtualLinksMM2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VirtualLinksMM2 -->
      <package
            uri="http://inria.fr/virtualLinks"
            class="fr.inria.atlanmod.emfviews.virtualLinks.VirtualLinksPackage"
            genModel="resource/VirtualLinksMM2.genmodel"/>
   </extension>

</plugin>
