html { color: #2c3234; font-size: 16px; font-family: sans-serif; }
#content { max-width: 41rem; margin: auto; }
body { margin: 0 }

header {
  color:#fff;
  font-family: sans-serif;
  margin: 0;
  padding: 1rem 0 2rem 0;
  text-align:center;
  background-color:#159957;
  background-image:linear-gradient(120deg, #155799, #159957);
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 2.25rem;
}

h2, h3, h4 {
  font-weight:normal;
  color:#159957;
  margin-top:2rem;
  margin-bottom:1rem;
}

h2 a, h3 a, h4 a {
  color:#159957;
}

h2 { font-size: 1.8rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }

a { color: #1e6bb8; text-decoration: none; }
a:hover { text-decoration: underline; }
p.verse { margin-left: 3%; }
code {
  font-size: 14px;
  font-family: "Consolas", monospace;
  background: #f3f6fa;
  padding: 2px 4px;
  border-radius: 2px;
}
pre, .verbatim, .VERBATIM {
  font-family: "Consolas", monospace;
  font-size: 14px;
  margin: 1.5rem 0;
  padding: 4pt 8pt;
  border-left: 3px solid #cceae1;
  box-shadow: 2px 2px 2px #eff4f2;
}
.note::before {
  content: "Note";
  font-size: 18px;
  font-style: italic;
}
.note {
  margin: 1.5rem;
  padding: .25rem 1rem;
  font-size: 14px;
  background: #ebeef1;
  border: 1px solid #d0d5d7;
  box-shadow: 3px 3px 3px #eee;
}
.important::before {
  content: "Important";
  font-size: 18px;
  font-weight: bold;
}
.important {
  margin: 1.5rem;
  padding: .25rem 1rem;
  font-size: 14px;
  background: #f3e1e1;
  border: 1px solid #e18080;
  box-shadow: 3px 3px 3px #edc8c8;
}
dd > p:first-child { margin-top: 0; }
.verbatim p:first-child { margin-top: 0; }
.verbatim p:last-child { margin-bottom: 0; }
.footpara { display: inline; }
.footdef  { margin-bottom: 1em; }
.figure { margin: 2rem; }
.figure p { text-align: center; }
.figure img { box-shadow: 3px 3px 3px #eee; max-width: 100%; }
.figure .no-shadow { box-shadow: unset; }
.linenr { font-size: smaller }
.org-keyword { font-weight: bold; color: #333; }
.org-string { color: #1c7164; }
.org-comment, .org-comment-delimiter { color: #27572e; background-color: #aae7c84d; }
.code-highlighted { background-color: #ffff00; }

#table-of-contents h2 { display: none; }
#table-of-contents ul { padding-left: 1rem; list-style-type: none; }
#table-of-contents ul ul { font-size: 15px; }
#table-of-contents ul ul ul { font-size: 14px; }
#table-of-contents .selected { background-color: #45e39433; }

/* move toc to the left on wide screens */
@media (min-width: 1500px) {
  #table-of-contents {
    position: fixed;
    left: calc(50% - 750px);
    top: 160px;
    max-width: 350px;
  }

  #table-of-contents h2 {
    display: initial;
    margin-top: 0;
    font-size: 1.2rem;
  }

  #table-of-contents>h2::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    display: block;
    background-image:linear-gradient(120deg, #155799, #159957);
  }
}

.btn {
  display:inline-block;
  color: rgba(255,255,255,0.9);
  background-color: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius:0.3rem;
  transition: all 0.2s;
  padding: .6rem .9rem;
  font-size: .9rem;
}

.btn:hover {
  color: #fff;
  text-decoration:none;
  background-color:rgba(255,255,255,0.2);
  border-color:rgba(255,255,255,0.3)
}

.btn + .btn {
  margin-left: 1rem;
}

.icon {
  fill: #fff;
  height: 24px;
  vertical-align: middle;
  margin-right: 10px;
}

.figure-number { display: none }
