<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="delegator" name="delegator" schema="schema/delegator.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VirtualLinksMM2 -->
      <package
            uri="http://www.atlanmod.org/emfviews/virtuallinks/0.3.0"
            class="org.atlanmod.emfviews.virtuallinks.VirtualLinksPackage"
            genModel="resource/VirtualLinks.genmodel"/>
   </extension>

</plugin>
